.body__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body__div form {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  border-radius: 5px;
}

form .question__input {
  margin: 5px 20px;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 10px;
}

form button {
  border: none;
  background-color: #ffffff;
  margin: 5px 20px;
  padding: 12px;
  border-radius: 5px;
}

@media only screen and (max-width: 425px) {
  .body__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
  }
  .body__div form {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px 10px;
    height: 100vh;
    border-radius: 5px;
  }
}
